.content_r {
	width: 72%;
	float: right;
	margin-left: 36px;
}

.content_r h2 span{
	background: #143270;
	font-weight: normal;
	font-size: 14px;
	color: #ffffff;
	padding: 2px 5px;
}
.hidden {
	display:none;
}
table{
	border:1px solid #f1f1f1;
	width:700px;
	margin-top:20px;
}
.aa{
	border:1px solid #f1f1f1;
	line-height: 45px;
	background-color:#ffffff;
}
.bb{
	border:1px solid #f1f1f1;
	line-height: 45px;
	background-color:#f9f9f9;
}
tr:hover{
	background-color:#eef2fa;
}
table tr td a{
	font-size:15px;
	color:black;
	padding-left: 20px;
}
table tr td a:hover{
	text-decoration: underline;
	color:#c01c37;
}
.d_article{
	display: block;
	margin-top:20px;
	font-size:14px;
}
.d_article span font{
   color:red;
}
.d_article a{
    background:#666666;
    margin-left: 5px;
    padding:1px 3px;
    font-size:13px;
    color: #ffffff;
}