.content_r {
	width: 100%;
	float: right;
/*	margin-left: 36px;*/
	font-size: 14px;
}
.content_r h2 span{
	background: #143270;
	font-weight: normal;
	font-size: 14px;
	color: #ffffff;
	padding: 2px 5px;
}
.hidden{
	display: none;
}
.table{
	width:970px;
	margin:0px auto;
}
table{
	border:1px solid #f1f1f1;
	width:970px;
	margin-top:10px;
}
.table table tr{
	height:40px;
	font-size: 15px;
	text-align: center;
}
 .style3{
	border:1px solid #f1f1f1;
	line-height: 40px;
	background-color:#445e95;
	color:#fff;
}

.style1{
	border:1px solid #f1f1f1;
	line-height: 40px;
	background-color:#ffffff;
}
.style2{
	border:1px solid #f1f1f1;
	line-height: 40px;
	background-color:#f9f9f9;
}
.style1:hover,.style2:hover{
	background-color:#eef2fa;
}

/* .d_article{
	display: block;
	margin-top:20px;
	font-size:14px;
}
.d_article span font{
   color:red;
}
.d_article a{
    background:#666666;
    margin-left: 5px;
    padding:1px 3px;
    font-size:13px;
    color: #ffffff;
} */
